html {
   font-family: 'Joan';
   margin: 0;
}

h1 {
   line-height: 30px;
   font-size: 30px;
   margin: 0;
}

h2 {
   font-size: 15px;
   margin: 0;
}

h3, th {
   font-size: 11px;
   margin: 0;
}

p,td,th,li {
   font-size: 10px;
   margin: 0;
}

th {
   font-weight: bold;
}

tr {
}

body {
   padding: 20px;
   padding-top: 13px;
   padding-bottom: 0px;
}

.lb-header { 
   height: 40px;
   border-bottom: 2px solid #505050;
}

.lb-header-item {
   display: inline-block;
   width: 49.5%;
   height: 100%;
}

.lb-header-item.right {
   text-align: right;
   vertical-align: top;   
}

.lb-header-website {
   padding-left: 2px;
}

.lb-section {
   padding-top: 5px;
   padding-bottom: 3px;
   border-bottom: 1px solid #505050;   
}

.lb-section-content {
   padding-left: 30px;
}

table {
   width: 100%;
}

table,tr,th,td {
   border: none;
}

tr {
   line-height: 10px;
}

.lb-experience-content {
   margin-left: 20px;
}

h3 {
   position: relative;
   left: -20px;
}

.lb-interests {
   position: relative;
   top: -2px;
}

.left {
   text-align: left;
}

.right {
   text-align: right;
}

.date {
   font-style: italic;
}

li {
   margin: 0;
   padding-bottom: 1.5px; 
}

ul {
   padding-bottom: 2px;
   padding-left: 3px;
   margin: 0;
}